
<!DOCTYPE html>
<html lang="en">

<body>

    <h1>Looking for a pet? <br> Fill the form Below:
        <br> -------------------------------------<br><br></h1>
    
            <form action="http://127.0.0.1:8000/input", method="post">
            
                <p>Location: (Enter "postal code" OR "City, State")</p>
                <p><input type="text" name="Location" /></p>

                <p>Animal Type:</p>
                <p><input type="text" name="Type" /></p>

                <p>Gender:</p>
                <p><input type="text" name="Gender" /></p>
<!--
                <p>Age: (Ex: Baby, young, adult, senior,...)</p>
                <p><input type="text" name="Age" /></p>

                <p>Size: (Ex: Small, Medium, Large, or X-Large.)</p>
                <p><input type="text" name="Size" /></p>
-->
                
                <p><input type= "submit" value= "submit" /></p>
            </form>
        

	
</body>
</html>

    


    