{% extends 'layout.html' %}
{% block title %} Directions {% endblock %}
{% block content %}
<!-- <div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="1.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="2.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="3.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="4.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="5.jpg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="6.jpg" style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="1.jpg" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="2.jpg" style="width:100%" onclick="currentSlide(2)">
    </div>
    <div class="column">
      <img class="demo cursor" src="3.jpg" style="width:100%" onclick="currentSlide(3)">
    </div>
    <div class="column">
      <img class="demo cursor" src="4.jpg" style="width:100%" onclick="currentSlide(4)">
    </div>
    <div class="column">
      <img class="demo cursor" src="5.jpg" style="width:100%" onclick="currentSlide(5)">
    </div>    
    <div class="column">
      <img class="demo cursor" src="6.JPG" style="width:100%" onclick="currentSlide(6)">
    </div>
  </div>
</div> -->

<h1> Find Your Perfect Pet </h1>

<ul> 
  <li> Browse Pets: Click on "Pet Listings" to view available pets.</li>
  <li> Filter Your Search: Utilize filters to narrow down your options based on criteria such as type, breed, age, location, size, 
    gender, temperament, color, special needs, and price range. </li>
  <li> View Pet Profiles: Click on individual pet listings to see their profiles, including name, age, breed, personality, health status, and photos. </li>

Contact the Shelter/Owner: Use the provided contact information to inquire about and arrange a meeting with the pet.

Meet the Pet: Schedule a visit to meet the pet in person to ensure compatibility.

Adopt Your Pet: If it's a match, follow the adoption process as instructed.

Share and Promote: Spread the word about "Pawsome Pets" to help more animals find loving homes.

Stay Updated: Keep checking the website for new pet listings.

{% endblock %}
