{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <h1>Welcome to Notes Unleashed!</h1>
    
    <div class="wrapper">
        <div class="profile">
           <table id= "userdata" border="2">
          <thead>
                    <th>Artist Bio</th> 
                </thead>
              <tbody>
                    <td>{{value}}</td>
               </tbody>
           </table>
        
           
          

           <br>
         
        </div>
        </div>
            
{% endblock %}
