<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="grid-container">
        <nav class="header">
            <a href="/templates/index.html">Home</a>
            <a href="/templates/api.html">API</a>
            
        </nav>
        
        <div class="sidenav">
            <div class="side-menu">
                <b>Filters</b>
                <br>
                <form method="POST">
                  Artist/Band Name:
                  <input placeholder="Search Artist/Band.." name="artist">
                  <input type="submit" value="submit">  <br>
                  
                  Artist and Album:
                  <input placeholder="Search Artist/Band.." name="artist">
                  <input placeholder="Album" name="album">
                  <input type="submit" value="submit">  <br>

                  Music Style:
                  <input placeholder="Ex. Rock, Pop, Country.." name="tag">
                  <input type="submit" value="submit">  

                </select>
              </form>
              </div> 
            </div>    
        
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>
