{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<h1>How to find your purrfect pet</h1>

<ul> 
    <li><b>Browse Pets: </b>The only requirements are a 5 digit postal code and state abbreviation. Everything else is optional.
        Utilize the filters to narrow down your options based on criteria of type, gender, age and size.</li>
    <li> <b>View Pet Profiles:</b> Pet listings will show preview of their profiles from PetFinder, 
        including name, age, breed, personality, and a photo. </li>
    <li><b>Contact the Shelter/Owner:</b> Use the provided contact information to inquire about and arrange a meeting with the pet.</li>
    <li><b>Meet the Pet:</b> Schedule a visit to meet the pet in person to ensure compatibility.</li>
    <li><b>Adopt Your Pet:</b> If it's a match, follow the adoption process as instructed.</li>
    <li><b>Stay Updated:</b> Keep checking the website for new pet listings.</li>
</ul>
{% endblock %}
