{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <h1>Welcome to Notes Unleashed!</h1>
    
    <div class="wrapper">
        <div class="profile">
           <table id= "userdata" border="2">
          <thead>
                    <th>Artist Name</th>
                    <th>Albums</th>
                    <th>Bio</th>
                    <th>Tags</th>
                </thead>
              <tbody>
        
               </tbody>
           </table>
        <p>
            
        </p>
           {% for data in data %}
           {{ data['Nation'] }} 
           {{ data['Year'] }}
           {{ data['Population'] }}
           <br>
           {% endfor %}
        </div>
        </div>
            
{% endblock %}
